body {
    background-color: whitesmoke;
}
.home {
    width: 100%;
    display: flex;
    margin-bottom: 500px;
    /* background-color: rgb(240, 234, 234); */
}
.left {
    width: 50%;
    background-color: rgb(250, 226, 182);
}
.inner {
    /* width: 50%; */
    /* background-color: blueviolet; */
}
.right {
    width: 50%;
    /* background-color: brown; */
}
.texts {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}
.welcome {
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
}
.atomic {
    /* width: 50%; */
}
.atomic img{
    padding-bottom: 70px;
    width: 100%;
}
.black {
    width: 50%;
    background-color: black;
    position: absolute;
    bottom: 200px;
    /* right: 200px; */
    
}
.sign-up {
    width: 45%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 120px;
    font-weight: normal;
    color: rgb(34, 34, 34);
    /* text-align: center; */
}
.account {
    /* text-align: center; */
    font-size: 20px;
}
.email, .password {
    /* margin-left: 80px; */
    /* width: 50%; */
    margin: 0 auto;     
}
.btn {
    /* width: 50%; */
    margin: 0 auto;
    padding-top: 40px;
    
}
button {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 6px;
}
.passwd {
    font-size: 25px;
}
input {
    width: 100%;
    height: 50px;
    font-size: 24px;
    border: 1px solid rgb(53, 52, 52);
    border-radius: 6px;
}
 @media only screen and (max-width: 600px) {
    body {
        /* overflow: hidden; */
    }
    .home {
        display: grid;
        width: 100%;
        margin-bottom: 0;
    }
    .left {
        width: 100%;
        /* padding-bottom: 50px; */
    }
    .right {
        width: 100%;
        margin-bottom: 2px;
    }
    .sign-up {
        width: 60%;
        margin: 15px;
        padding-top: 10px;
        padding-bottom: 1px;
    }
    .black {
        display: none;
    }
    .welcome {
        font-size: 18px;
        text-align: left;
    }
    .atomic img{
        width: 100%;
        margin: 0 auto;
    }
    .texts {
        padding-top: 2px;
        /* margin: 15px; */
    }
    .account {
        font-size: 18px;
    }
    .passwd {
        font-size: 16px;
        color: black;
    }
    input {
        font-size: 16px;
        height: 35px;
    }
    button{
        width: 100%;
        font-size: 16px;
        background-color: rgb(139, 111, 98);
    }
    
}